  <footer class="footer flex-row justify-center bg-blue-900 mt-4 text-gray-100">
    <div id="navlinks-sm" class=" w-sm flex flex-wrap justify-center text-sm px-6 py-4 gap-6">
        <a href="/" class="">Home</a>
        <a href="" class="">Articles</a>
        <a href="" class="">Contact Us</a>
        <a href="" class="">Privacy Policy</a>
    </div>
    <div id="" class=" w-sm text-sm pb-4 text-center">
        <p>WaterLeakGuide.com &copy;2021</p>
    </div>
  </footer>
</div>
</body>
</html>