<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/index.css">
<script>
function toggleMenu() {
  var element = document.getElementById("navlinks");
  element.classList.toggle("hidden");
}

</script>
</head>
<body class="">
<div class="max-w-sm mx-auto bg-white pt-28 sm:max-w-screen-md md:max-w-screen-xl">
  <header>
  <div class="fixed inset-x-0 top-0 bg-gray-100 shadow-md">
    <nav class="mx-auto flex items-center  py-3 px-8 md:max-w-screen-xl">
      <div class="md:hidden">
        <button class="border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white" onclick="">
          <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
        </button>
      </div>
      <div class="flex-shrink-0 text-white mx-6 md:ml-0">
        <a href="/" ><img class="h-16" src="/logo.png" alt="test"/></a>
      </div>
      <div id="navlinks" class="hidden text-sm gap-4 md:flex md:justify-between">
        <a href="/" class="">Home</a>
        <a href="" class="">All Articles</a>
        <a href="" class="">Contact Us</a>
      </div>
      <div id="navlinks-sm" class="flex justify-between text-sm ml-4 gap-4 md:hidden">
        <a href="/" class="">Home</a>
        <a href="" class="">Articles</a>
      </div>
    </nav>
    </div>
  </header>