{% include "./head.njk" %}
<div class="mx-5 md:flex md:flex-row">
<article class="bg-gray-50 border-2 mr-5 p-4 rounded-md md:flex md:flex-col md:w-8/12">
<h1> {{title}} </h1>
<div id="post-meta" class="text-sm text-gray-500 italic">
  <p>
    <span>Update on {{ page.date.toDateString() }} </span>
    <span>by {{ author}}</span>
  </p>
</div>
<div class="mt-6 text-md">
  {{ content | safe }}
</div>
</article>

<aside id="sidebar" class="border-2 mx-5 my-4 rounded-md md:flex md:flex-col md:w-4/12 md:mx-0 md:my-0">
      <h2 class="px-4 py-2 text-gray-50 bg-blue-900 border-b rounded-md rounded-b-none border-black">Recent Posts</h2>
      <ul class="flex-col px-4">
      {%- for post in collections.posts %}
      <li class="flex items-center">
      <span class="flex items-center">
      <svg class="" xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="fill-current h-6 w-6" viewBox="0 0 20 20">
      <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
      </svg>
      </span><a class="flex" href="{{ post.url }}">{{ post.data.title }}</a>
      </li>
      {%- endfor %}
      </ul>
</aside>
</div>
</div>
{% include "./footer.njk" %}